@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primaryColor : #00B0EA;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
  
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
    font-weight: 700;
}

@media only screen and (min-width: 600px) {
    .swiper-button-next,
    .swiper-button-prev {
    background-color: white;
    right:10px;
    padding: 20px;
    color: black !important;
    fill: white !important;
    stroke: white !important;
    border-radius: 50%;
    font-size: 20px !important;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}
}

@media only screen and (max-width: 600px) {
    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }
}

#productImageSwiper .vertical-swiper .swiper-wrapper {
    flex-direction: column !important;
  }
  
#productImageSwiper .vertical-swiper .swiper-slide {
    margin-bottom: 10px !important; 
}

/* Add these styles to your global CSS or a specific CSS module */
#productImageSwiper.vertical-swiper {
    height: 100% !important; /* Make sure it occupies the full height of the parent */
    overflow: hidden !important; /* Hide any overflow */
    display: flex !important; /* Use flexbox to align items vertically */
    flex-direction: column !important; /* Stack slides vertically */
  }
  
  #productImageSwiper.vertical-swiper .swiper-wrapper {
    display: flex !important; /* Ensure that slides stack vertically */
    flex-direction: column !important;
    height: 100% !important; /* Make sure the wrapper takes full height */
  }
  
  #productImageSwiper.vertical-swiper .swiper-slide {
    margin-bottom: 10px !important; /* Space between slides */
    cursor: pointer !important; /* Change cursor to pointer for clickable slides */
  }
  

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.banner-bottom-card .card {
  position: relative;
  width: 250px;
  height: 250px;
  background: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.banner-bottom-card .card .cardImage {
  width: 250px;
  height: 250px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
@media (max-width: 540px) {
  .banner-bottom-card .card {
    width: 180px; /* Adjust width for small devices */
    height: 180px; /* Adjust height for small devices */
  }
}
@media (max-width: 540px) {
  .banner-bottom-card .card .cardImage {
    width: 180px; /* Adjust width for small devices */
    height: 180px; /* Adjust height for small devices */
  }
}

.banner-bottom-card .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner-bottom-card .card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}


.banner-bottom-card .card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.banner-bottom-card .card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.banner-bottom-card .card__description {
  
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/* .card:hover .cardImage {
  scale: 0;
  transform: rotate(-45deg);
} */



